{% extends 'layout_evenement.html.twig' %}
{% block body %}

<div class="event">
          <div class="container">
            <div class="row">
                  <div class="panel col-md-12 col-sm-12 col-xs-12">
                      <h1>Tous les formations</h1>
                        <div class="col-md-12">
                              <div class="row">
                              <hr>                                
                       <div class="panel">
                        
                        <div class="panel-body ">
						
							{% if formations|length > 0 %}
								{% for formation in formations %}
									
									    <div class="media">											
											 <div class="media-body">
											  <div class="tiret-droit">
													<a href="{{ path('ucm_front_show_formation',{'url':formation.categorie,'id':formation.categorie.id}) }}" >{{ formation.departement }} \ {{ formation.categformation }} \ {{ formation.titre }}</a>
											  </div>
											 </div>
										</div>
										<br />
								{% endfor %}
							{% endif %}

                           

                        </div>
                        <div class="panel-footer">
                            <p><strong></strong></p>
                        </div>
                    </div>
                              </div>
                      </div>
                  </div>
                
            </div>
          </div>
        </div>

{% endblock %}